<div class="rep_add_form">
    <form name="addreply" method="post">
      <!--  제목 <input type="text" name="title" value=""/><br>-->
        <!-- 내용 -->
        <input class="reply_add" type="textarea" name="content" value=""/>
        <input type ="button" value="확인" onClick="addReply({{item.id}}, this.form)"/>
    </form>
</div>