<div id="loginBg" class="background" {#style="background-image : url({{asset("bundles/kingdom/image/login/login_background.jpg")}})"#}>
    <div id="gradation" class="background" {#style="background-image : url({{asset("bundles/kingdom/image/login/gradation.png")}})"#}>
        <div id="textBox">
            <span id="watchme"></span><br>
            <span id="welcome">환영합니다.</span> <br>
            <span>내정보</span><br>
        </div>
    </div> 
</div>  