{% extends 'SupportFrontBundle::layout.html.twig' %}
{% block contents %}
    <div class="program_box">
    <span class="title_txt"><h1>마감 임박</h1></span> 
    {% include 'SupportFrontBundle:Product:listview.html.twig' %} 
    </div>
{% endblock %}